---
title: "Tennety Time! | Chandu Tennety's Blog"
layout: blog
---

{% for post in paginator.posts %}
<div class="post">
<div class='post-header'>
<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>

<span class="post_date">{{ post.date | date: "%d %B %Y" }}</span>, <span class="author">{{ post.author }}</span>

			<a class="comments" href="{{ post.url }}#disqus_thread">Comments</a>
</div

<br />
<br />

{{ post.content | truncatewords:100,"" }}
<a href="{{ post.url }}">[&#8230;]</a>
</div><!-- /blog_post -->
{% endfor %}

<div class='pagination'>
	{% if paginator.next_page %}
		<a class="older" href="/page{{ paginator.next_page }}">&#171 Older posts</a>
	{% endif %}
	{% if paginator.previous_page == 1 %}
		<a class="latest" href="/">Latest posts &#187</a>
	{% elsif paginator.previous_page %}
		<a class="newer" href="/page{{ paginator.previous_page }}">Newer posts &#187</a>
	{% endif %}
	</div>

