<div id="contact">
	<form method="post" id="contact-form" action="TODO">
            <div class="sender-info">
              <div class="field inline_label">
                <label class="inline">Name / Company</label>
                <input id='name' tabindex="1">
              </div>
              <div class="field inline_label">
                <label class="inline">E-Mail</label>
                <input id='email' tabindex="2">
              </div>
              <div class="field inline_label">
                <label class="inline">Phone Number</label>
                <input id='phone' tabindex="3">
              </div>
            </div>
	    <div class='message'>
              <div class="field inline_label textarea">
                <label class="inline">Your Message</label>
                <textarea id='text' tabindex="4"></textarea>
              </div>
              <div class="submit">
                <input type="submit" value="Submit" tabindex="5">
              </div>
            </div>
          </form>
	
</div>
