	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#"><span>Tennety</span>Time!</a></h1>
			</div>
			<div id='social'>
				<ul>
					<li><a href="http://www.twitter.com/tennety"><img src="/images/twitter-small.png" alt="Follow tennety on Twitter"/></a></li>
				</ul>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="#">Home</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>

		</div>
	</div>
	<!-- end #header -->
