	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#"><span>Tennety</span>Time!</a></h1>
			</div>
			<div id='social'>
				<ul>
					<li><a href="http://github.com/tennety" alt="Fork me on Github" target="_blank"><img src="/images/git-small.png"/></a></li>
					<li><a href="http://www.facebook.com/chandu.tennety" alt="Find me on Facebook" target="_blank"><img src="/images/facebook-small.png"/></a></li>
					<li><a href="http://www.twitter.com/tennety" alt="Follow me on Twitter" target="_blank"><img src="/images/twitter-small.png"/></a></li>
				</ul>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="#">Home</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>

		</div>
	</div>
	<!-- end #header -->
