<div id="sidebar">
	<ul>
		<li>

		{% include search.html %}

			<div style="clear: both;">&nbsp;</div>
		</li>
		<li>
			<script src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script>
			new TWTR.Widget({
			  version: 2,
			  type: 'profile',
			  rpp: 4,
			  interval: 6000,
			  width: 250,
			  height: 300,
			  theme: {
			    shell: {
			      background: '#e7e7e7',
			      color: '#3c3d3f',
			    },
			    tweets: {
			      background: '#ffffff',
			      color: '#3c3d3f',
			      links: '#eb1d1d',
			    }
			  },
			  features: {
			    scrollbar: true,
			    loop: false,
			    live: true,
			    hashtags: true,
			    timestamp: true,
			    avatars: false,
			    behavior: 'default'
			  }
			}).render().setUser('tennety').start();
			</script>
		</li>
	</ul>
</div>
<!-- end #sidebar -->
