<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Perfect Blemish     
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20100729

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title> {{ page.title }} </title>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body id="home">
<div id="wrapper">

{% include header.html %}

	<div id="page">

			{{ content }}


		{% include search.html %}

		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
{% include footer.html %}
</div>


<script type="text/javascript">
var disqus_shortname = 'tennetytime';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/tennetytime/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

</body>
</html>
