<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Perfect Blemish     
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20100729

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title> {{ page.title }} | Tennety Time! </title>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">

	{%include header.html%}

	<div id="page">
		<div id="content">

			<div class="post">
			<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>

			<span class="post_date">{{ page.date | date: "%d %B %Y" }}</span>, <span class="author">{{ page.author }}</span>

			<br />
			<br />

			{{ content }}

			</div><!-- /blog_post -->

			<div id='share'>
				<ul>
					<li>
						<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="tennety">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					</li>
					<li>
						<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like layout="button_count" font="arial" colorscheme="dark"></fb:like>
					</li>
				</ul>
                        </div><!-- share buttons -->

		<div style="clear: both;">&nbsp;</div>

			<!-- Comments section -->
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			  /**
			    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
			    */
			  (function() {
			   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			   dsq.src = 'http://tennetytime.disqus.com/embed.js';
			   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			  })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=tennetytime">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

		</div>
		<!-- end #content -->

		{% include sidebar.html %}

		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>

 {% include footer.html %}

<!-- end #footer -->

<script type="text/javascript">
var disqus_shortname = 'tennetytime';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/tennetytime/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

</body>
</html>
